<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.framework.alert.dao.mapper.AlertEventMapper">
    <select id="getAlertTeamByAlertId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertTeamVo">
        select a.alert_id  as alertId,
               a.team_uuid as teamUuid,
               b.name      as teamName,
               b.email     as teamEmail,
               b.phone     as teamPhone
        from alert_team a
                 join team b on a.team_uuid = b.uuid
        where a.alert_id = #{value}
    </select>

    <select id="getAlertLeaderByTeamId" parameterType="java.lang.String"
            resultType="neatlogic.framework.alert.dto.AlertUserVo">
        select b.uuid      as userId,
               b.user_id   AS userAccount,
               b.user_name AS userName,
               b.phone     AS userPhone,
               b.email     AS userEmail
        from team_user_title a
                 join user b on a.user_uuid = b.uuid
        where a.team_uuid = #{value}
        order by a.title_sort
    </select>

    <select id="getAlertUserByTeamId" parameterType="java.lang.String"
            resultType="neatlogic.framework.alert.dto.AlertUserVo">
        select b.uuid      as userId,
               b.user_id   AS userAccount,
               b.user_name AS userName,
               b.phone     AS userPhone,
               b.email     AS userEmail
        from user_team a
                 join user b on a.user_uuid = b.uuid
        where a.team_uuid = #{value}
    </select>

    <select id="getAlertUserByAlertId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertUserVo">
        select a.alert_id  AS alertId,
               a.user_id   AS userId,
               b.user_id   AS userAccount,
               b.user_name AS userName,
               b.phone     AS userPhone,
               b.email     AS userEmail
        from alert_user a
                 join user b on a.user_id = b.uuid
        where a.alert_id = #{value}
    </select>

    <resultMap id="alertResultMap" type="neatlogic.framework.alert.dto.AlertVo">
        <id column="id" property="id"/>
        <result column="fromAlertId" property="fromAlertId"/>
        <result column="childAlertCount" property="childAlertCount"/>
        <result column="level" property="level"/>
        <result column="title" property="title"/>
        <result column="updateTime" property="updateTime"/>
        <result column="alertTime" property="alertTime"/>
        <result column="type" property="type"/>
        <result column="alertTypeLabel" property="typeName"/>
        <result column="status" property="status"/>
        <result column="alertStatusName" property="statusName"/>
        <result column="alertStatusColor" property="statusColor"/>
        <result column="source" property="source"/>
        <result column="uniqueKey" property="uniqueKey"/>
        <result column="isClose" property="isClose"/>
        <result column="similarCount" property="similarCount"/>
        <result column="content" property="attrObjStr"/>
        <association property="alertType" javaType="neatlogic.framework.alert.dto.AlertTypeVo">
            <result column="alertTypeName" property="name"/>
            <result column="alertTypeLabel" property="label"/>
            <result column="alertTypeId" property="id"/>
        </association>
        <association property="alertLevel" javaType="neatlogic.framework.alert.dto.AlertLevelVo">
            <result column="alertLevel" property="level"/>
            <result column="alertLevelName" property="name"/>
            <result column="alertLevelColor" property="color"/>
            <result column="alertLevelLabel" property="label"/>
        </association>
        <collection property="userList" ofType="neatlogic.framework.alert.dto.AlertUserVo">
            <id column="alertUserId" property="userId"/>
            <id column="alertUserAlertId" property="alertId"/>
            <result column="alertUserName" property="userName"/>
        </collection>
        <collection property="teamList" ofType="neatlogic.framework.alert.dto.AlertTeamVo">
            <id column="alertTeamUuid" property="teamUuid"/>
            <id column="alertTeamAlertId" property="alertId"/>
            <result column="alertTeamName" property="teamName"/>
        </collection>
        <collection property="markList" ofType="neatlogic.framework.alert.dto.AlertMarkVo">
            <id column="alertMarkUuid" property="uuid"/>
            <result column="alertMarkName" property="name"/>
            <result column="alertMarkStyle" property="style"/>
        </collection>
    </resultMap>


    <select id="getAlertById" parameterType="java.lang.Long" resultMap="alertResultMap">
        select a.id,
               (SELECT count(x.to_alert_id) FROM alert_rel x WHERE x.from_alert_id = a.id LIMIT 100) AS childAlertCount,
               (select x.from_alert_id from alert_rel x where x.to_alert_id = a.id limit 1)          as fromAlertId,
               a.level,
               a.title,
               a.update_time                                                                         as updateTime,
               a.alert_time                                                                          as alertTime,
               a.type,
               a.is_close                                                                            as isClose,
               a.similar_count                                                                       as similarCount,
               d.id                                                                                  as alertTypeId,
               d.name                                                                                as alertTypeName,
               d.label                                                                               as alertTypeLabel,
               a.status,
               als.label                                                                             as alertStatusName,
               als.color                                                                             as alertStatusColor,
               a.source,
               a.unique_key                                                                          as uniqueKey,
               b.content,
               c.level                                                                               as alertLevel,
               c.name                                                                                as alertLevelName,
               c.label                                                                               as alertLevelLabel,
               c.color                                                                               as alertLevelColor,
               au.user_id                                                                            as alertUserId,
               au.alert_id                                                                           as alertUserAlertId,
               at.team_uuid                                                                          as alertTeamUuid,
               at.alert_id                                                                           as alertTeamAlertId,
               (select name from team x where x.uuid = at.team_uuid)                                 as alertTeamName,
               am.name                                                                               as alertMarkName,
               am.uuid                                                                               as alertMarkUuid,
               am.style                                                                              as alertMarkStyle
        from alert a
                 left join alert_attr b on a.id = b.alert_id
                 left join alert_level c on a.level = c.level
                 left join alert_type d on a.type = d.id
                 left join alert_user au on a.id = au.alert_id
                 left join alert_team at on a.id = at.alert_id
                 left join alert_status als on a.status = als.name
                 left join alert_alert_mark aam on a.id = aam.alert_id
                 left join alert_mark am on aam.mark_uuid = am.uuid
        where a.id = #{value}
    </select>

    <sql id="selectAlertEventHandlerCommonSql">
        select id,
               name,
               uuid,
               alert_type as alertType,
               parent_id  as parentId,
               handler,
               event,
               sort,
               type_id    as typeId,
               is_async   as isAsync,
               is_active  as isActive,
               config     as configStr
        from alert_event_handler
    </sql>

    <select id="getAlertEventHandlerById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.alert.dto.AlertEventHandlerVo">
        <include refid="selectAlertEventHandlerCommonSql"></include>
        where id = #{value}
    </select>

    <select id="getAlertEventExecuteCount" resultType="java.lang.Integer">
        select count(1)
        from alert_event_handler_audit
        where handler = #{handler}
          and start_time &gt; FROM_UNIXTIME(#{miniSecond} / 1000)
    </select>

    <select id="getLastAlertEventHandlerAudit" parameterType="neatlogic.framework.alert.dto.AlertEventHandlerAuditVo"
            resultType="neatlogic.framework.alert.dto.AlertEventHandlerAuditVo">
        select id,
               unique_key       as uniqueKey,
               parent_id        as parentId,
               alert_id         as alertId,
               event,
               handler,
               handler_name     as handlerName,
               event_handler_id as eventHandlerId,
               start_time       as startTime,
               end_time         as endTime,
               status
        from alert_event_handler_audit
        where alert_id = #{alertId}
          and event_handler_id = #{eventHandlerId}
          and status = #{status}
        order by id desc
        limit 1
    </select>

    <select id="getAlertEventHandlerByEvent"
            resultType="neatlogic.framework.alert.dto.AlertEventHandlerVo">
        <include refid="selectAlertEventHandlerCommonSql"></include>
        where event = #{event} and alert_type = #{alertType}
        and parent_id is null
        order by sort
    </select>

    <select id="getAlertEventHandlerByParentId" parameterType="java.lang.String"
            resultType="neatlogic.framework.alert.dto.AlertEventHandlerVo">
        <include refid="selectAlertEventHandlerCommonSql"></include>
        where parent_id = #{value}
        order by sort
    </select>

    <select id="getAlertEventHandlerByUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.alert.dto.AlertEventHandlerVo">
        <include refid="selectAlertEventHandlerCommonSql"></include>
        where uuid = #{value}
    </select>

    <resultMap id="eventHandlerResultMap" type="neatlogic.framework.alert.dto.AlertEventHandlerVo">
        <id column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="alertType" property="alertType"/>
        <result column="parentId" property="parentId"/>
        <result column="name" property="name"/>
        <result column="handler" property="handler"/>
        <result column="event" property="event"/>
        <result column="sort" property="sort"/>
        <result column="isAsync" property="isAsync"/>
        <result column="typeId" property="typeId"/>
        <result column="typeLabel" property="typeLabel"/>
        <result column="isActive" property="isActive"/>
        <result column="configStr" property="configStr" typeHandler="neatlogic.framework.dao.plugin.CompressHandler"/>
    </resultMap>

    <select id="listEventHandler"
            parameterType="neatlogic.framework.alert.dto.AlertEventHandlerVo"
            resultMap="eventHandlerResultMap">
        WITH RECURSIVE handler_cte AS (
        SELECT
        a.id,
        a.uuid,
        a.name,
        a.alert_type as alertType,
        a.parent_id as parentId,
        a.handler,
        a.event,
        a.sort,
        a.is_async as isAsync,
        a.is_active as isActive,
        a.config as configStr,
        a.type_id as typeId,
        (select label from alert_event_handler_type x where x.id = a.type_id) as typeLabel,
        1 AS level
        FROM alert_event_handler a
        <where>
            <choose>
                <when test="parentId == null">
                    and a.parent_id is null
                </when>
                <otherwise>
                    and a.parent_id = #{parentId}
                </otherwise>
            </choose>
            <if test="event != null and event != ''">
                and a.event = #{event}
            </if>
            <if test="alertType != null">
                and a.alert_type = #{alertType}
            </if>
            <if test="handler != null and handler != ''">
                and a.handler = #{handler}
            </if>
        </where>
        UNION ALL
        SELECT
        b.id,
        b.uuid,
        b.name,
        b.alert_type as alertType,
        b.parent_id as parentId,
        b.handler,
        b.event,
        b.sort,
        b.is_async as isAsync,
        b.is_active as isActive,
        b.config as configStr,
        b.type_id as typeId,
        (select label from alert_event_handler_type x where x.id = b.type_id) as typeLabel,
        cte.level + 1 AS level
        FROM alert_event_handler b
        INNER JOIN handler_cte cte ON b.parent_id = cte.id
        )
        SELECT * FROM handler_cte
        ORDER BY sort;
    </select>

    <select id="searchEventHandler"
            parameterType="neatlogic.framework.alert.dto.AlertEventHandlerVo"
            resultMap="eventHandlerResultMap">
        SELECT
        a.id,
        a.uuid,
        a.name,
        a.alert_type as alertType,
        a.parent_id as parentId,
        a.handler,
        a.event,
        a.sort,
        a.is_async as isAsync,
        a.is_active as isActive,
        a.config as configStr,
        a.type_id as typeId,
        (select label from alert_event_handler_type x where x.id = a.type_id) as typeLabel
        FROM alert_event_handler a
        <where>
            <if test="event != null and event != ''">
                and a.event = #{event}
            </if>
            <if test="alertType != null">
                and a.alert_type = #{alertType}
            </if>
            <if test="handler != null and handler != ''">
                and a.handler = #{handler}
            </if>
        </where>
        ORDER BY a.sort
    </select>

    <select id="getAlertEventHandlerMaxSort" resultType="java.lang.Integer"
            parameterType="neatlogic.framework.alert.dto.AlertEventHandlerVo">
        select max(sort)
        from alert_event_handler
        where event = #{event}
          and alert_type = #{alertType}
    </select>

    <select id="getAllAlertEventPluginConfig"
            resultType="neatlogic.framework.alert.dto.AlertEventPluginVo">
        select name,
               config    as configStr,
               is_active as isActive
        from alert_event_plugin
    </select>

    <select id="getAlertEventPluginConfigByName" parameterType="java.lang.String"
            resultType="neatlogic.framework.alert.dto.AlertEventPluginVo">
        select name,
               config    as configStr,
               is_active as isActive
        from alert_event_plugin
        where name = #{value}
    </select>

    <update id="saveAlertEventPluginConfig" parameterType="neatlogic.framework.alert.dto.AlertEventPluginVo">
        insert into alert_event_plugin
            (name, config, is_active)
        values (#{name},
                #{configStr, typeHandler=CompressHandler},
                #{isActive})
        ON DUPLICATE KEY UPDATE is_active = #{isActive},
                                config    = #{configStr, typeHandler=CompressHandler}
    </update>

    <insert id="saveAlertEventHandler" parameterType="neatlogic.framework.alert.dto.AlertEventHandlerVo">
        insert into alert_event_handler
        (id,
         uuid,
         parent_id,
         name,
         alert_type,
         handler,
         event,
         sort,
         config,
         is_active,
         is_async,
         type_id)
        values (#{id},
                #{uuid},
                #{parentId},
                #{name},
                #{alertType},
                #{handler},
                #{event},
                #{sort},
                #{configStr,typeHandler=CompressHandler},
                #{isActive},
                #{isAsync},
                #{typeId})
        ON DUPLICATE KEY
            UPDATE name      = #{name},
                   parent_id = #{parentId},
                   config    = #{configStr,typeHandler=CompressHandler},
                   is_active = #{isActive},
                   is_async  = #{isAsync},
                   type_id   = #{typeId}
    </insert>

    <insert id="insertAlertEventAudit" parameterType="neatlogic.framework.alert.dto.AlertEventHandlerAuditVo">
        insert into alert_event_handler_audit
        (id,
         unique_key,
         parent_id,
         alert_id,
         event,
         handler,
         handler_name,
         event_handler_id,
         start_time,
         config,
         status,
         server_id,
         is_async)
        values (#{id},
                #{uniqueKey},
                #{parentId},
                #{alertId},
                #{event},
                #{handler},
                #{handlerName},
                #{eventHandlerId},
                now(3),
                #{configStr,typeHandler=CompressHandler},
                #{status},
                #{serverId},
                #{isAsync})
    </insert>

    <update id="updateAlertEventAuditResult" parameterType="neatlogic.framework.alert.dto.AlertAuditVo">
        update alert_event_handler_audit
        set result = #{resultStr, typeHandler=CompressHandler}
        where id = #{id}
    </update>

    <update id="updateAlertEventHandlerAudit" parameterType="neatlogic.framework.alert.dto.AlertEventHandlerAuditVo">
        update alert_event_handler_audit
        set
        status = #{status},
        end_time = now(3)
        <if test="resultStr != null and resultStr != ''">
            ,result = #{resultStr,typeHandler=CompressHandler}
        </if>
        <if test="error != null and error != ''">
            ,error = #{error,typeHandler=CompressHandler}
        </if>
        <if test="parentId != null">
            ,parent_id = #{parentId}
        </if>
        where id = #{id}
    </update>

    <update id="updateAlertEventHandlerSort">
        update alert_event_handler
        set sort = #{sort}
        where id = #{id}
    </update>

    <delete id="deleteAlertEventPluginConfig" parameterType="java.lang.String">
        delete
        from alert_event_plugin
        where name = #{value}
    </delete>

    <delete id="deleteAlertEventHandlerById" parameterType="java.lang.Long">
        delete
        from alert_event_handler
        where id = #{value}
    </delete>
</mapper>
